prepare
GFLNP/weapons/_compact.weapons
GFLNP_EX/items/_compact.carry_items
GFLNP_LT/items/_compact.carry_items
GFLNP/vehicles/_compact.vehicles
GFLNP/weapons/_compact.throwables
GFLNP/vehicles/_compact.vehicles
GFLNP_EX/items/_compact.carry_items
GFLNP_LT/items/_compact.carry_items
GFLNP/weapons/_compact.throwables
GFLNP/weapons/_compact.weapons
GFLNP/items/_compact.carry_items
